.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.illustration-side {
  width: 40%;
  background-color: #4B6EF6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lock-icon {
  font-size: 100px;
}

.form-side {
  width: 60%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.input-field {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}