<section class="card flex-fill p-4 bg-dark text-white mb-4">
  <div class="d-flex gap-3"> <!-- gap-3 يدي مسافة صغيرة بين المربعين -->
    
    <!-- المربع الأول -->
 <div class="card flex-fill p-3 bg-dark text-white">
  <h5 class="mb-3 text-center">Account Summary</h5>
  <dl class="row">
    <dt class="col-sm-6">Account Number:</dt>
    <dd class="col-sm-6">2456-9987-112</dd>

    <dt class="col-sm-6">Account Type:</dt>
    <dd class="col-sm-6">Savings Account</dd>

    <dt class="col-sm-6">Current Balance:</dt>
    <dd class="col-sm-6">5,420.75 EGP</dd>

    <dt class="col-sm-6">Saving Goals:</dt>
    <dd class="col-sm-6">Vacation</dd>
  </dl>
</div>


    <!-- المربع الثاني -->
  <div class="card flex-fill p-3 bg-dark text-white">
  <h5 class="mb-3 text-center">Monthly Income & Expenses</h5>
  <dl class="row">
    <dt class="col-sm-6">Monthly Income:</dt>
    <dd class="col-sm-6">5,420.75 EGP</dd>

    <dt class="col-sm-6">Fixed Expenses:</dt>
    <dd class="col-sm-6">1,200 EGP</dd>

    <dt class="col-sm-6">Monthly Net:</dt>
    <dd class="col-sm-6">1,000 EGP</dd>

    <dt class="col-sm-6">Saving Rates:</dt>
    <dd class="col-sm-6">35%</dd>
  </dl>
</div>


  </div>
</section>
<section class="card flex-fill p-3 bg-dark text-white mb-4">
  <h5 class="mb-1">Quick Access</h5>
  <hr class="border-white">

  <div class="d-flex gap-2 justify-content-center">
    <button type="button" class="btn btn-dark text-white flex-fill shadow">Budget Creation</button>
    <button type="button" class="btn btn-dark text-white flex-fill shadow">Expense Tracking</button>
    <button type="button" class="btn btn-dark text-white flex-fill shadow">Income Tracking</button>
    <button type="button" class="btn btn-dark text-white flex-fill shadow">Goal Setting</button>
    <button type="button" class="btn btn-dark text-white flex-fill shadow">Reporting</button>
  </div>
</section>


<section class="card p-3 bg-dark text-white">
  <h5 class="mb-3 text-white">Monthly Sales & Expenses</h5>

  <div class="d-flex gap-3 ">
    <div class="card p-3 bg-dark text-white flex-fill">
      <canvas id="myBarChart1"></canvas>
    </div>
    <div class="card p-3 bg-dark text-white flex-fill">
      <canvas id="myBarChart2"></canvas>
    </div>
  </div>
</section>


