.signup-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.form-side {
  width: 60%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.illustration-side {
  width: 40%;
  background-color: #4B6EF6;
  display: flex;
  align-items: center;
  justify-content: center;
}